body {
  overflow: hidden;
}
#res {
  border: 1px solid blueviolet;
  height: 45vh;
  margin: .5rem;
  overflow: auto;
}
#key,#opn {
  width: 80%;
  font-family: 'Times New Roman', Times, serif
}
#falert,#falerta{
  display: none;
}